{% extends 'base.html' %}

{% block title %}
All topic
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block profile %}
{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="container">
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff or request.user.is_superuser %}
            <a href="{% url 'blog:createCategory' %}" class="btn btn-success pull pull-right">Add new category</a>
        {% endif%}
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Category</td>
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff or request.user.is_superuser %}
                    <td>Action</td>
                {% endif%}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for category in all_category %}
            <tr>
                <td><a href="{% url 'blog:topic' name=category.name %}">{{ category.name }}</a></td>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <td><a href="{% url 'blog:updateCategory' category.pk %}" class="btn btn-primary">Edit</a><a href="{% url 'blog:deleteCategory' category.pk %}" class="btn btn-primary">Delete</a></td>
                    {% endif%}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
{% endblock %}