{% extends 'base.html' %}
{% load static %}

{% block title %} Mnuworld {% endblock %}

{% block content %}

<h4 class="well">Category: {{ category.name }}</h4>
{% for post in posts %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="{% url 'topic' name=post.category.name %}">{{ post.category }}</a></span>
		<h2 class="fh5co-article-title"><a href="{% url 'single_post' id=post.id %}">{{ post.title }}</a></h2>
		<span class="fh5co-meta fh5co-date">{{ post.posted_on.date }}</span>
	</article>

{% endfor %}
{% endblock %}