{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block profile %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="" style="margin: 5px; padding: 50px">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.media }}
        {{ form }}
        <button class="btn btn-success">Submit</button>
    </form>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}