{% extends 'base.html' %}
{% load static %}

{% block title %} Mnuworld {% endblock %}

{% block content %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">We Eat and Drink All Night</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_2.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">Beef Steak at Guatian Restaurant</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<div class="clearfix visible-xs-block"></div>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">We Eat and Drink All Night</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_2.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">Beef Steak at Guatian Restaurant</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<div class="clearfix visible-xs-block"></div>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">We Eat and Drink All Night</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_2.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">Beef Steak at Guatian Restaurant</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<div class="clearfix visible-xs-block"></div>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">We Eat and Drink All Night</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_2.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drink</a></span>
		<h2 class="fh5co-article-title"><a href="#">Beef Steak at Guatian Restaurant</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<div class="clearfix visible-xs-block"></div>
{% endblock %}