{% extends 'base.html' %}
{% load static %}

{% block title %} Mnuworld {% endblock %}

{% block content %}

{% for post in posts %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">{{ post.category }}</a></span>
		<h2 class="fh5co-article-title"><a href="#">{{ post.title }}</a></h2>
		<span class="fh5co-meta fh5co-date">{{ post.posted_on }}</span>
	</article>

{% endfor %}
{% endblock %}