{% extends "base.html" %}
{% load static %}

{% block title %}
Author
{% endblock %}


{% block stylesheet %}
<style type="text/css">
	#fh5co-offcanvas {
		width: auto;
	}
	#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
		width: 300px;
		padding: 50px;
	}
</style>
{% endblock %}

{% block profile %}
	<div class="fh5co-bio">
		<figure>
			<img src="{% static 'images/masud(1).jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>Emily Tran Le</h2>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_7.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Food &amp; Drinks</a></span>
		<h2 class="fh5co-article-title"><a href="#">Enjoying the Native Juice Drink in Brazil</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="#"><img src="{% static 'images/pic_8.jpg' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="#">Travel</a>, <a href="#">Style</a></span>
		<h2 class="fh5co-article-title"><a href="#">Boat Travel in The Vietnam River</a></h2>
		<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
	</article>
	<div class="clearfix visible-xs-block"></div>
{% endblock %}