{% extends "base.html" %}
{% load static %}

{% block title %}
Author
{% endblock %}


{% block stylesheet %}
<style type="text/css">
	#fh5co-offcanvas {
		width: auto;
	}
	#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
		width: 400px;
		padding: 50px;
	}
</style>
{% endblock %}

{% block profile %}
	<div class="fh5co-bio">
		<figure>
			<img src="{{ auth.profile_pic.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>{{ auth.name.get_full_name }}</h2>
		<a href="mailto:{{ auth.name.email }}">{{ auth.name.email }}</a>
		<p>{{ auth.details }}</p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
<div class="well">
	<h3>Author: {{ auth.name.get_full_name }}</h3>
</div>
{% for post in posts%}
<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
	<figure>
		<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
	</figure>
	<span class="fh5co-meta"><a href="{% url 'topic' name=post.category %}">{{ post.category }}</a></span>
	<h2 class="{% url 'single_post' id=post.id %}"><a href="#">{{ post.title }}</a></h2>
	<span class="fh5co-meta fh5co-date">{{ post.posted_on }}</span>
</article>
{% endfor %}
<div class="container-fluid">
	<div class="pagination">
		<span class="step-links">
			{% if posts.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ contacts.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
			</span>
			{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}">next</a>
				<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock %}