{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block profile %}
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center">Registration</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Register</button>
    </form>
</div>

<!-- <h2>Sign up</h2>

<form method="post">
    {% csrf_token %}
      {% for field in form %}


        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endfor %}
    <button type="submit">Sign up</button>
</form> -->

{% endblock %}

{% block script %}
{% endblock %}